<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Very original title by Marcin Fladro</title>
</head>
<body>
<div class="row">
  <div class="col-9">
    <p>
      Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium
      doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore
      veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim
      ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni
    </p>
  </div>
  <div class="column">
    <h3>Szybki kontakt</h3>
    <div>
      <i class="fa fa-facebook-official" aria-hidden="true"></i>
      <a
        href="http://facebook.com"
        target="_blank"
        rel="noopener noreferrer"
      > Facebook</a
      >
    </div>
    <div>
      <i class="fa fa-instagram" aria-hidden="true"></i>
      <a
        href="http://instagram.com"
        target="_blank"
        rel="noopener noreferrer"
      > Instagram</a
      >
    </div>
    <div>
      <i class="fa fa-envelope-open fsiz" aria-hidden="true"></i>
      <a href="http://gmail.com" target="_blank" rel="noopener noreferrer"
      > Email</a
      >
    </div>
  </div>
</div>

<footer class="centerer">
  Copyrights &copy; Marcin Borowski | 2020
</footer>
</body>
</html>
